body{
  font-family : "Open Sans",-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif!important;
  text-align : center;
  margin : 0%;
  position : relative;


}

.nav-text{
  color : #fff;
}
.nav-text:hover{
  color : #fff;
}
.nav-class{
  background-color : #323a44;
}

.container-fluid{
  padding : 0;
}
#home-section{
  /* background-image : url('../images/home.jpg');
  background-position : center;
  background-repeat : no-repeat;
  background-size : cover;
  width : auto;
  height : auto; */

}

.home-img img{
  width : 100%;

}

.home-write{
  z-index: 1;
  margin : auto;
  position : relative;
  bottom : 450px;
  /* left : 33%; */
  font-size : 1.6rem;
  font-weight : 100;
  color : #fff;
}
.home-write p{
  font-size : 1.1rem;
  margin-top : 0px;
}
.home-write h1{
  margin-bottom : 0px;
  font-weight : 600;
}

.white-box{
  text-align : left;
  margin : auto;
  /* position : absolute; */
  position : relative;
  width : 30%;
  height : 50px;
  background-color : #fff;
  bottom : 400px;
  /* top : 55%; */
  /* left : 35%; */
  /* margin-left : auto; */
  border-radius : 5px;

}


.white-box span{
  font-weight : 100;
  font-size : 1rem;
  position : relative;
  top : 12px;
  left : 5px;
  font-weight : 400;
  padding-left : 10%;
}
